extends templates/layout

block content
  .container.marketing
    
    .row.featurette
      .col-sm-7
        h2 Accommodations
        ul
          li 
            a.lead(href="http://www.coasthotels.com/hotels/bc/prince_george/coast-inn-of-the-north/rooms/") Coast Inn of the North
            br
            b Address: 
            | 770 Brunswick St
            br
            b Telephone: 
            | 1-250-563-0121
            br
            b Conference Rates: 
            | N/A
            br
            b Reservation Code: 
            | N/A
          li 
            a.lead(href="http://www.sandmansignature.ca/hotels/prince-george/") Sandman Signature Hotels and Suites
            br
            b Address: 
            | 2990 Recreation Place
            br
            b Telephone: 
            | 1-800-726-3626
            br
            b Conference Rates: 
            | 2 queen $139.00; king or family suite $154.00
            br
            b Reservation Code: 
            | #135889
          li 
            a.lead(href="http://www.econolodge.com/hotel-prince_george-canada-CNA31") Econo Lodge City Centre
            br
            b Address: 
            | 910 Victoria St
            br
            b Telephone: 
            | 250-563-1267
            br
            b Conference Rates: 
            | Twin doubles $89.00; Family suite (2brdm. Foldout couch) $129.00
            br
            b Reservation Code: 
            | N/A
          li
            a.lead(href="http://carmelinn.ca/") Carmel Inn
            br
            b Address: 
            | 1502 British Columbia 97
            br
            b Telephone: 
            | 1-250-564-6339
            br
            b Conference Rates: 
            | Two doubles $89.00; Queen $75.00
            br
            b Reservation Code:
            | 2015 AYC
          li
            a.lead(href="http://ramadaprincegeorge.com/") Ramada Prince George
            br
            b Address: 
            | 444 George St
            br
            b Telephone: 
            | 1-250-563-0055
            br
            b Conference Rates: 
            | N/A
            br
            b Reservation Code:
            | N/A
          li
            a.lead(href="") Sandman Hotel & Suites Prince George

      .col-sm-5(style="text-align: center")
        iframe.img-rounded(src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.k89JLyptpBaI", width="100%", height="480")
    
    hr.featurette-divider
    
