extends templates/layout

block content
    .container.marketing
        .row.featurette
            .col-sm-7
                h2 Accommodations
                ul
                    li
                        a.lead(href="http://www.coasthotels.com/hotels/bc/prince_george/coast-inn-of-the-north/rooms/") Coast Inn of the North
                        br
                        b Address:
                        |    770 Brunswick St
                        br
                        b Telephone:
                        |    1-250-563-0121
                        br
                        b Conference Rates:
                        |    Comfort Room $179.00 Superior Room $199.00 Premium Suite $229
                        br
                    li
                        a.lead(href="http://ramadaprincegeorge.com/") Ramada Prince George
                        br
                        b Address:
                        |    444 George St
                        br
                        b Telephone:
                        |    1-250-563-0055
                        br
                        b Conference Rates:
                        |    Premiere 2 queen beds $109; Premiere 1 king bed $109
                        br
                        b Reservation Code:
                        |    CGAA01
                        b    Rates Available Until:
                        |    January 16th, 2015
                    li
                        a.lead(href="http://www.sandmansignature.ca/hotels/prince-george/") Sandman Signature Hotels and Suites
                        br
                        b Address:
                        |    2990 Recreation Place
                        br
                        b Telephone:
                        |    1-800-726-3626
                        br
                        b Conference Rates:
                        |    2 queen $139.00; king or family suite $154.00
                        br
                        b Reservation Code:
                        |    #135889
                    li
                        a.lead(href="http://www.econolodge.com/hotel-prince_george-canada-CNA31") Econo Lodge City Centre
                        br
                        b Address:
                        |    910 Victoria St
                        br
                        b Telephone:
                        |    250-563-1267
                        br
                        b Conference Rates:
                        |    Twin doubles $89.00; Family suite (2brdm. Foldout couch) $129.00
                        br
                    li
                        a.lead(href="http://carmelinn.ca/") Carmel Inn
                        br
                        b Address:
                        |    1502 British Columbia 97
                        br
                        b Telephone:
                        |    1-250-564-6339
                        br
                        b Conference Rates:
                        |    Two doubles $89.00; Queen $75.00
                        br
                        b Reservation Code:
                        |    2015 AYC
                    li
                        a.lead(href="http://www.camelotcourtmotel.com") Camelot Court Motel
                        br
                        b Address:
                        |    1600 Central Street
                        br
                        b Telephone:
                        |    1-800-668-3361
                        br
                        b Conference Rates:
                        |    One bed $75 (1 person), $80 (2 person), Two beds starting $85
                        br
                    li
                        a.lead(href="http://www.sandmanhotels.ca/hotels/prince-george/") Sandman Hotel & Suites Prince George
                        br
                        b Address:
                        |    1650 Central St
                        br
                        b Telephone:
                        |    1-800-726-3626
                        br
                        b Conference Rates:
                        |    2 double, 1 double, 1 queen $109.00; 2 double with kitchen $119.00; studio kitchen $129.00; 1 king $149.00
                        br
                        b Reservation Code:
                        |    #313107
                    li
                        a.lead(href="http://www.gramasinn.com/") Grama's Inn
                        br
                        b Address:
                        |    901 Central St
                        br
                        b Telephone:
                        |    1-877-563-7174
                        br
                        b Conference Rates:
                        |    2 queens $83.00
                        br
                        b Reservation Code
                        |    2015AYC
                    li
                        a.lead(href="http://www.bonvoyageinn.ca") Bon Voyage Motor Inn
                        br
                        b Address:
                        |    4222 Highway 16 West
                        br
                        b Telephone:
                        |    1-888-611-3872
                        br
                        b Conference Rates:
                        |    Standard or two double $75.00. Standard queen or King with Kitchenette $75.00
                        br
                        b Reservation Code
                        |    2015 Aboriginal Youth Conference
                    li
                        a.lead(href="http://www.treasurecovehotel.net/home.php") Treasure Cove Hotel
                        br
                        b Address:
                        |    2005 Highway 97 South
                        br
                        b Telephone:
                        |    1-250-614-9111
                        br
                        b Conference Rates:
                        |    Deluxe 2 queen $129.00
                        br
                        b Reservation Code:
                        |    Gathering Our Voices
                    li
                        a.lead(href="http://esthersinn.com/") Esther's Inn
                        br
                        b Address:
                        |    1151 Commercial Crst
                        br
                        b Telephone:
                        |    1-800-663-6844
                        br
                        b Conference Rates:
                        |    1 Queen Room $104.00; 2 Queen Room $114.00; 1 King Room $114.00; Kitchen suite $144.00;
                        br
                        b Reservation Code:
                        |    Gathering Our Voices
            .col-sm-5(style="text-align: center")
                iframe(src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.kmt8UPWbdarQ", width="100%", height="480")
        hr.featurette-divider
