extends templates/layout

block content
    .container.marketing
        .row.featurette
            .col-sm-6
                .text-center
                    img(style="max-height: 300px" src="/img/logos/bannock.jpg")
            .col-sm-6
                h2.featurette-heading Beyond Bannock Traditional Foods Social Media Challenge
                p Are you attending Gathering Our Voices 2015? Take part in the GOV Beyond Bannock Social Media Challenge! We encourage any and all First Nations youth to participate. All submissions are eligible for the Early Thunderbird prizes but to be eligible for the Grand Prizes you must be registered for GOV 2015.
                p The challenge will lead up to the conference taking place March 17-20 on Lheidli T'enneh territory in Prince George and will showcase the strong connections between First Nations youth and their traditional foods. Participation is easy and awesome prizes are available! 
                strong.lead This contest will run from Jan 30, 2015 to March 13, 2015
        .row.featurette
            .col.sm-12
                p Youth can participate in three ways: 
                ul
                    li Sharing their photos
                    li Short videos
                    li Written stories
                p Social media platforms used will include Instagram, Facebook, and Twitter. To take part, upload your content in the following categories: 
                ul.list-group
                    li.list-group-item
                        strong Catching or Harvesting!
                        p Show or tell us how you connect to the land to collect, catch, or harvest your food! Images can include collecting berries, catching a fish, smoking salmon, gathering tea, hunting, or preparing! Use your imagination! 
                    li.list-group-item
                        strong Your Traditional Meal!
                        p Show or tell us about your traditional meal. What’s in it? Where did it come from? How did you cook it? What does your Nation eat? 
                    li.list-group-item
                        strong Eating with an Elder!
                        p Show or tell us about you sharing a traditional meal with an Elder in your family or community. Did you cook it together? 
                p If you do not have access to social media (Instagram, Facebook and Twitter), you can email your submission to: <a href="mailto:beyondbannock@bcaafc.com">beyondbannock@bcaafc.com</a>  and we will post it for you.
                p As this is a Social Media Challenge your posted or email submission will serve as your consent for the BC Association of Aboriginal Friendship Centres and the First Nations Health Authority to post your photographic image and/or voice recording and words on social media. You are also responsible for obtaining consent from any other people in your photographic image and/or voice recording before posting or submitting by email. 
        .row.featurette
            .col-sm-6
                img.img-rounded(src="/img/salmon.jpg")
            .col-sm-6
                a(class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/beyondbannock" data-widget-id="561319458455560193")
                    #beyondbannock Tweets
                script.
                    !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
        .row.featurette
                h3 Submission Guidelines
                p To be eligible for a prize, ALL participants must meet the following requirements:
                ul
                    li All submissions must be tagged with the hashtag: <strong>#beyondbannock</strong>
                    li You must also register for the challenge <a href="https://docs.google.com/forms/d/1RT-e6_8J8myXe57VGknWQW9WzhOpxfo59P2AQQwiEVE/viewform?c=0&w=1">here</a>.
                
                table.table
                    thead
                        tr
                            th Social Media Platform
                            th Tags
                    tbody
                        tr
                            td Facebook (stories, images, video)
                            td Tag <a href="www.facebook.com/gatheringourvoices">Gathering Our Voices</a> and <a href="www.facebook.com/firstnationshealthauthority">First Nations Health Authority</a>, and <strong>#beyondbannock</strong>
                        tr
                            td Instagram (images and video)
                            td Tag <a href="http://instagram.com/gatheringourvoices">@gatheringourvoices</a>, <a href="http://instagram.com/fnha">@fnha</a>, and <strong>#beyondbannock</strong>
                        tr
                            td Twitter (images and video)
                            td Tag <a href="https://twitter.com/GOV_Conference">@gov_conference</a>, <a href="https://twitter.com/fnha">@fnha</a>, and <a href="https://twitter.com/hashtag/beyondbannock?f=realtime">#beyondbannock</a>
                
                h3 Submission tips: 
                ul
                    li Images should be in focus and show your food along with people (we want to see your beautiful faces!)
                    li Remember to include a short caption of what is happening in your photo.
                    li Videos should be no longer than 1 minute. 
                    li Written stories can be as long or short as you like.
                    li If possible, include what Nation you are from.
                
                h3 Prizes
                p Top winner in each category wins a brand new bike to support your wellness journey. <strong>In order to win the grand prize you must be attending Gathering Our Voices.</strong> These Grand Prizes will be awarded at the Closing Ceremonies.
                p Early Thunderbird prizes include a number of GoPro video cameras and selfie sticks. Early Thunderbird draw dates are:
                ul
                    li Friday, February 6, 2015
                    li Friday, February 13, 2015
                    li Friday, February 20, 2015
                    li Friday, February 27, 2015
                    li Friday, March 6, 2015
                p There will be additional prizes for the submission with the most Social Media likes as well as an Audience Choice prize at the Conference.
                p In addition, see your images showcased during GOV for all to see, top winner in each will be able to give their full story to attendees at GOV 2015!
                
                h3 Selection
                p 3 winners from each category will be randomly selected, and 3 winners will be selected by a social media panel that includes members of the BCAAFC and FNHA Social Media teams, along with a celebrity judge!  Selected winners will have their images evaluated based on creativity, originality, humour, and just how traditional your traditional dish is! Early Thunderbird prizes will be drawn on a weekly basis. Prize for most Social Media likes will be awarded based on stats and Audience Choice prize winner will be selected at the Closing Ceremonies.
