extends templates/layout

block content
  .container
    .row
      .col-sm-12
        h1 Code of Conduct
        p TODO
        if session && session.group
          if !session.group._state.steps.conduct
            button#agree.btn.btn-block.btn-primary I agree to the code of conduct on behalf of my group.
          else
            a.btn.btn-block.btn-success(href="/account") Already Agreed
        hr.featurette-divider
  script.
    $(function () {
      $('#agree').click(function () {
        var id = '!{session.group._id}';
        $.get('/checkoff/' + id + '/conduct').done(function (data) {
          window.location = '/account'
        });
      });
    });
