extends templates/layout

block content
  .container.marketing
  
    .row.featurette
      .col-sm-5
        img.img-rounded.lazy(data-original="/img/news/rampingUp.jpg", style="max-width: 100%")
      .col-sm-7
        h2.featurette-heading
          | Registration Opens!
        p.lead September 5th, 2014
        p Registration for Gathering Voice Voices 2015 is now open! You may register by following the <a href="/register">"Register" link</a> in the top bar. Returning groups may notice a changed Login/Register form, we hope this will make it easier for you!
        p Please excuse us while we lift the registration site into the new year.
  
    hr.featurette-divider
