extends templates/layout

block content
    .container.marketing
        #day1.featurette
            .row
                .col-sm-12
                    h2.featurette-heading Day 1
                    h3 March 17th
            .row
                .col-sm-6
                    h3 Registration
                    p.lead Prince George Civic Centre
                    ul
                        li Check in
                        li Verify your details
                        li Fill remaining workshop slots (optional!)
                        li Get delegate bags
                        li Meet new friends
                    hr
                    h3 Opening Ceremonies & Reception
                    p.lead Prince George Civic Centre
                    ul
                        li Doors open at 5:00 pm.
                        li Ceremony starts 6:00 pm.
                .col-sm-6(style="text-align: center")
                    img.img-rounded(src="/img/schedule/opening.jpg", style="max-width: 100%")
        hr.featurette-divider

        #day2.featurette
            .row.text-right
                .col-sm-12
                    h2.featurette-heading Day 2
                    h3 March 18th
            .row
                .col-sm-6(style="text-align: center")
                    img.img-rounded(src="/img/schedule/workshop.jpg", style="max-width: 100%")
                    br(style="display: block; margin: 50px;")
                    img.img-rounded.lazy(src="/img/schedule/talent_show.jpg", style="max-width: 100%")
                .col-sm-6
                    h3 Breakfast
                    p.lead Prince George Civic Centre
                    p Before you start your busy day, drop in for breakfast.
                    hr
                    h3 Career and Education Fair
                    p.lead Prince George Civic Centre
                    p Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.
                    hr
                    h3 Workshop Sessions 1,2,3
                    p.lead Various Locations
                    p Attend the workshops you chose after registering your group and submitting your payment.
                    hr
                    h3 Lunch
                    p.lead Prince George Civic Centre
                    p Take a breather and grab a bite to eat.
                    hr
                    h3 Workshop Sessions 4,5,6
                    p.lead Various Locations
                    p Attend the workshops you chose after registering your group and submitting your payment.
                    hr
                    h3 Youth Talent Showcase
                    p.lead Prince George Civic Centre
                    p This is a fun-filled night and all delegates are invited.
                    ul
                        li Doors Open 7:00 pm
                        li Event Begins 8:00 pm

        hr.featurette-divider
        #day3.featurette
            .row
                .col-sm-12
                    h2.featurette-heading Day 3
                    h3 March 19th
            .row
                .col-sm-6
                    h3 Breakfast
                    p.lead Prince George Civic Centre
                    p Before you start your busy day, drop in for breakfast.
                    hr
                    h3 Career and Education Fair
                    p.lead Prince George Civic Centre
                    p Explore post-secondary institutions, training centres, and possibile job opportunities. The Career and Education Fair is open to all delegates including: youth, young adults, and chaperones.
                    hr
                    h3 Workshop Sessions 7,8,9
                    p.lead Various Locations
                    p Attend the workshops you chose after registering your group and submitting your payment.
                    hr
                    h3 Lunch
                    p.lead Prince George Civic Centre
                    p Take a breather and grab a bite to eat.
                    hr
                    h3 Workshop Sessions 10,11,12
                    p.lead Various Locations
                    p Attend the workshops you chose after registering your group and submitting your payment.
                    hr
                    h3 Youth Dance
                    p.lead Prince George Civic Centre
                    p Take some time to practice your favorite dance moves as you enjoy the night with your friends, old and new. Beats, Bass, and Melody included as well as a live performance from 7:45pm-8:30pm (Performer TBA!)
                    p.text-muted Note: This is a <emph>strictly</emph> substance free dance that is limited to delegates only.    Youth must have their chaperones with them to attend.    Facilictators and exhibitors do not attend this event.
                .col-sm-6(style="text-align: center")
                    img.img-rounded(src="/img/schedule/workshop2.jpg", style="max-width: 100%")
                    br(style="display: block; margin: 50px;")
                    img.img-rounded(src="/img/schedule/dance.jpg", style="max-width: 100%")

        hr.featurette-divider
        #day4.featurette
            .row.text-right
                .col-sm-12
                    h2 Day 4
                    h3 March 20th
            .row
                .col-sm-6(style="text-align: center")
                    img.img-rounded(src="/img/schedule/closing.jpg", style="max-width: 100%")
                .col-sm-6
                    h3 Cultural Morning & Closing Ceremonies
                    p.lead Prince George Civic Centre
                    p The cultural morning is an opportunity to witness different cultural presentations.
                    p We will honour youth and present awards.
                    p Attending delegates will also be eligible for the Grand Prize Draw. (If they have completed their Exhibitor Passports!)
