extends templates/layout

block content
    .container.marketing
        .row.featurette
            .col-sm-10.col-sm-offset-1
                h1 Social Enterprise Competition
                h2.featurette-heading Overview
                p Aboriginal youth are finding ways to build better futures for themselves and their communities. Through social enterprise, Aboriginal youth can develop a way to earn a meaningful living while bringing a much needed service or product to their communities in a way that also helps their communities and/or the environment. 

                p As part of the BC Association of Aboriginal Friendship Centres’ (BCAAFC) annual Gathering Our Voices Aboriginal Youth Conference (GOV), we have partnered with Urban Matters to co-host an Aboriginal Youth Social Enterprise Contest. The Sauder School of Business Centre for Social Innovation & Impact Investing at UBC is the delivery partner for the contest.  We are also pleased to have Vancity Credit Union and the Rina M. Bidin Foundation as sponsoring partners.

                p This contest will highlight the social enterprises that Aboriginal youth are developing throughout BC and encourage other Aboriginal youth to develop businesses that help their communities. The contest concludes with public presentations from contest finalists March 17 to 20, 2015 at the GOV 2015 conference in Prince George, B.C.

                hr.featurette-divider
                h2.featurette-heading What is a Social Enterprise?
                
                p A social enterprise is a business regardless of its business structure (non-profit, for-profit, coop, partnership, etc.). Like other businesses, social enterprises have the goal of being self-sustaining—they earn enough money to pay employees a fair wage, cover all of their expenses, and support the business’ growth. Unlike other businesses, social enterprises also have the goal of improving social, cultural, community, or environmental outcomes built into their business model. In other words, social enterprises have a blended bottom line. They generate both a financial profit and a social benefit.  

                p Some examples of social enterprises are:
                
                ul
                    li
                        a(href="http://www.aboriginalmothercentre.ca/page/mama%27s%20wall%20street%20studio.aspx#.VHezWVfF8Sc") Mama’s Wall Street Studio
                    li
                        a(href="http://www.starworks.ca/about-us") Starworks Packaging and Assembly
                    li
                        a(href="http://victorygardensvancouver.ca/about") Victory Gardens
                    li
                        a(href="http://skipperotto.com/about-page/") Skipper Otto’s Community Supported Fishery
                    li
                        a(href="http://www.kitigan.com/about-us/") Kitigan: Cultivating Communities
                    li
                        a(href="http://drivechangenyc.org/about-us/") Drive Change
                
                hr.featurette-divider
                h2.featurette-heading Categories and Prizes
                
                p Two prizes for each category will be awarded to the strongest applicants. Each finalist will receive both a cash prize and expert business support from a business consulting organization. 
                
                ol
                    li 
                        strong Existing Social Enterprises
                        p This category is for social enterprises that are earning money (revenue) from customers or clients and have been doing so for at least 6 months.
                        ul
                            li First prize – $6000 plus 40 hours of business support 
                            li Second prize – $4000 plus 20 hours business support 
                    li
                        strong Concept Social Enterprises
                        p This category is for social enterprise concepts that you would be interested in launching and that have strong potential to succeed.
                        ul
                            li First prize – $4000 plus 40 hours of business support 
                            li Second prize – $2500 plus 20 hours business support 
                    li 
                        strong Youth Innovator Award
                        p This category is for youth between 14 and 18 years of age whose existing social enterprise or social enterprise concept falls into one of the two categories above. Applicants in this age range for either the Existing or Concept categories will automatically be considered for this additional prize. 
                        ul
                            li First prize – $1500 plus 40 hours of business support
                            li Second prize – $1000 plus 20 hours business support
                
                hr.featurette-divider
                h2.featurette-heading Support
                
                p Support will include, but is not limited to, business advisory services in the following areas:
                
                ul
                    li Marketing
                    li Communications
                    li Financial planning
                    li Networking—introductions to key players in the community and/or industry
                    li Strengthening your business plan

                p Contest finalists will also win a free trip to the Gathering Our Voices 2015 conference on March 17 to 20 in Prince George, BC to present their ideas on March 18. Transportation, lodging, and conference fees will be covered. The Centre for Social Innovation & Impact Investing will liaise with finalists in the weeks before the conference to help them prepare for their presentations. 
                
                hr.featurette-divider
                h2.featurette-heading Qualifying Criteria
                
                ul
                    li The contest is open to all Aboriginal youth (age 14 to 29) living in B.C. that have an existing social enterprise or an idea for a social enterprise that they would like to start.
                    li The social enterprise must have positive community impacts (human, social, cultural, or environmental benefits).
                    li Completed entry form must be received by the submission deadline.
                    li Must be able to travel to Prince George and present on the evening of March 18, 2015.
                
                hr.featurette-divider
                h2.featurette-heading Important Dates
                
                ul
                    li Submission deadline – February 20, 2015 at 4:00 pm
                    li Finalists are selected and contacted – February 27, 2015
                    li Coaching and preparation for presentation – March 2 - 13, 2015
                    li Finalist presentations and prizes awarded – March 18, 2015 (at the Gathering Our Voices 2015 Aboriginal Youth Conference)
                
                hr.featurette-divider
                h2.featurette-heading Why Apply?
                p Five reasons to apply:
                ol
                    li Industry professionals will review applications and offer applicants constructive feedback to help their businesses or their business ideas.
                    li Finalists can win a range of cash prizes to invest in their enterprise.
                    li Finalists receive professional business planning support. 
                    li Finalists could meet partners, grow their network and their customer base.
                    li By going through the application process, applicants have an opportunity to organize their thoughts and gain valuable insight about their social enterprise.
                
                blockquote 
                    | Only those who will risk going too far can possibly find out how far they can go.
                    br
                    | – T. S. Eliot
                    
                hr.featurette-divider
                h2.featurette-heading How to Apply
                
                ul
                    li Download the application form <a href="/documents/social_enterprise_app.pdf">here</a> and fill it out electronically or by hand.
                    li Email completed application to <a href="mailto:social.enterprise@sauder.ubc.ca">social.enterprise@sauder.ubc.ca</a> before 4:00 pm on February 20, 2015. 
                
                p If you have any questions about the application, please email <a href="mailto:social.enterprise@sauder.ubc.ca">social.enterprise@sauder.ubc.ca</a>.
                hr.featurette-divider

        .row.featurette
            .col-sm-12
                h2.featurette-heading Hosts
            .col-sm-6
                div.text-center(style="height: 300px;")
                    img(style="max-width: 100%; vertical-align: middle; display: inline-block; max-height: 300px;" src="/img/logos/bcaafc.png")
                h3 BCAAFC
                p The BC Association of Aboriginal Friendship Centres (BCAAFC) is the umbrella association for 25 Aboriginal Friendship Centres throughout the Province of British Columbia. One of the many initiatives that the BCAAFC runs is the Five by Five Aboriginal Job Strategy – a program designed to ensure an additional 5,000 Aboriginal people have successful jobs within the next five years. This contest is in support of the 5x5 initiative.
            .col-sm-6
                div.text-center(style="height: 300px;")
                    img(style="max-width: 100%; vertical-align: middle; display: inline-block; max-height: 300px;" src="/img/logos/urban_matters.png")
                h3 Urban Matters
                p Urban Matters is a social enterprise aimed at supporting sustainable community development. Combining the strengths of business rigour with a social purpose, Urban Matters collaborates with businesses and non-profits working toward resolving systemic community challenges.
                p Urban Matters is a product of the successful 40 year old consultancy Urban Systems Ltd. and the Urban Systems Foundation, a separate registered charity.
            hr.featurette-divider
        .row.featurette
            .col-sm-12
                h2.featurette-heading Deliver Partner
            .col-sm-6.col-sm-offset-3
                div.text-center(style="height: 300px;")
                    img(style="max-width: 100%; vertical-align: middle; display: inline-block; max-height: 300px;" src="/img/logos/sauder.png")
                h3 The Sauder School of Business Centre for Social Innovation & Impact Investing at the University of British Columbia
                p The mission of the centre is to advance the role of business in solving intractable social and environmental challenges through research and capacity building. The centre works to support social enterprises at all stages of their business cycles. Relevant programs in this area include the centre’s Coast Capital Savings Innovation Hub accelerator program for social entrepreneurs and its First Nation Economic Development work across B.C.
            hr.featurette-divider
        .row
            .col-sm-12
                h2.featurette-heading Sponsoring Partners
            .col-sm-6
                div.text-center(style="height: 300px;")
                    img(style="max-width: 100%; vertical-align: middle; display: inline-block; max-height: 300px;" src="/img/logos/vancity.png")
                h3 Vancity
                p Vancity is a values-based financial co-operative serving the needs of our 501,000 member-owners and their communities. We have 57 branches in Metro Vancouver, the Fraser Valley, Victoria and Squamish. As Canada’s largest community credit union, we use our $17.5 billion in assets to help improve the financial wellbeing of our members while at the same time helping to develop healthy, sustainable communities. 
            .col-sm-6
                div.text-center(style="height: 300px;")
                    img(style="max-width: 100%; vertical-align: middle; display: inline-block; max-height: 300px;" src="/img/logos/rina.png")
                h3 Rina Maria Bidin Foundation
                p Rina Maria Bidin was born in Deroche, BC in 1914. Rina established the Rina M. Bidin Foundation in 1988. She enjoyed participating in fundraising and the promotion of many causes amongst her network of friends and family. She left proceeds from her estate for the Bidin Honderich Orphan Childrens’ Fund. The Rina M. Bidin Foundation holds these funds in trust for distribution to causes that promote the values and beliefs Rina held throughout her life.
            hr.featurette-divider
