extends templates/layout

block content
    .container.marketing
        .row.featurette
            .col-sm-7
                h2 Conference Venues
                ul
                    li
                        a(href="http://princegeorgeciviccentre.ca/") Prince George Civic Centre
                        br
                        strong Main Conference Venue
                        br
                        | 808 Canada Games Way, Prince George
                        br
                        | (250) 561-7723
                    li
                        a(href="http://www.coasthotels.com/hotels/bc/prince_george/coast-inn-of-the-north/") Coast Inn of the North
                        br
                        | 770 Brunswick Street, Prince George
                        br
                        | (250) 563-0121
                    li
                        a(href="http://ramadaprincegeorge.com/") Ramada Prince George
                        br
                        | 444 George St, Prince George
                        br
                        | (250) 563-0055
                    li
                        a(href="http://www.unbc.ca/northern-sport-centre/your-4-season-fitness-sport-and-recreation-facility") UNBC Northern Sport Centre
                        br
                        | 3333 University Way, Prince George
                        br
                        | (250) 960-5555
                    li
                        a(href="/documents/parking.pdf") Parking Map
            .col-sm-5(style="text-align: center")
                iframe(src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.k89JLyptpBaI", width="100%", height="480")
        hr.featurette-divider
        .row.featurette
            .col-sm-7
                h2.featurette-heading The City of Prince George
                ul
                    li
                        a(href="http://princegeorge.ca/Pages/default.aspx") City of Prince George
                    li
                        a(href="http://www.pgnfc.com/") Prince George Native Friendship Centre Society
                        br
                        | 1-250-564-3568
                    li
                        a(href="http://tourismpg.com/") Tourism Prince George
                        br
                        | 1-250-562-3700
                    li
                        a(href="http://www.pgairport.ca/") Prince George Airport (YXS)
                        br
                        | 250-963-2400
                    li
                        a(href="http://www.drivebc.ca/#mapView&z=7&ll=54.188155481071504,-122.16796875000001") Drive BC (Road Conditions)
                        br
                        | 1-800-550-4997
                    li
                        | Nechako Medical Clinic Ltd
                        br
                        | 1-250-563-3399
                    li
                        a(href="http://www.northernhealth.ca/OurServices/Facilities.aspx?FacilityID=53") University Hospital of Northern BC
                        br
                        | 1-250-565-2000
            .col-sm-5(style="text-align: center")
                
