<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:og="http://ogp.me/ns#">
<head>
  <title>Gathering Our Voices - {{title}}</title>
  <meta name="description" content="Gathering Our Voices is an annual conference in BC for Aboriginal Youth.">
  
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:title" content="Gathering Our Voices">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://gatheringourvoices.bcaafc.com/img/gov.png">

  <!-- Scripts -->
  <script src="/js/jquery-1.11.1.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!--[if lt IE 9]>
    <script src="/js/html5shiv.min.js"></script>
  <![endif]-->

  <!-- Styles -->
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="/css/styles.css">

</head>

  
