doctype html
html(xmlns="http://www.w3.org/1999/xhtml", xmlns:og="http://ogp.me/ns#")
    head
        title Gathering Our Voices
        meta(name="description", content="Gathering Our Voices is an annual conference in BC for Aboriginal Youth. This year it is hosted in Prince George.")

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")

        meta(property="og:title", content="Gathering Our Voices")
        meta(property="og:type", content="website")
        meta(property="og:image", content="https://gatheringourvoices.bcaafc.com/img/gov.png")

        // Scripts
        script(src="/js/min.js")

        // Resources
        //if lt IE 9
            script(src="/js/html5shiv.min.js")

        link(href="/css/min.css" rel="stylesheet")
        link(rel="shortcut icon" href="/favicon.ico")
    body
        #wrap
            header
                .jumbotron(style="margin: 0 auto; max-height: 350px;")
                    .wrap(style="text-align: right;")
                        img(src="/img/gov.png" style="max-height: 300px;")
                div(style="min-height: 50px;")
                    include navbar

            main
                if session.message
                    .container
                            .row.text-center
                                p.lead.alert.alert-danger= session.message
                block content
                .container
                    .row
                        hr.featurette-divider
                        .text-center
                            img(style="max-width: 100%;" src='/img/sponsors.jpg' usemap="#sponsors")
                            map(name="sponsors")
                                area(shape="rect" coords="121,6,399,235" href="http://gov.bc.ca" title="Government of B.C.")
                                area(shape="rect" coords="480,16,922,241" href="http://www.fnha.ca/" title="First Nations Health Authority")
                                area(shape="rect" coords="7,235,199,381" href="" title="Rina M. Bidin Foundation (No website available)")
                                area(shape="rect" coords="413,257,593,387" href="http://www.newrelationshiptrust.ca/" title="New Relationship Trust")
                                area(shape="rect" coords="795,285,987,360" href="http://www.urbanmatters.ca/" title="Urban Matters")
                            br
                            br
                            br
            footer
                .container
                    .row
                        .col-sm-4
                            h3 Organizers
                            .row
                                .col-xs-6
                                    a(target="_blank", href="http://www.bcaafc.com/")
                                        img(src="/img/bcaafc.png")
                                .col-xs-6
                                    a(target="_blank", href="http://www.pgnfc.com/")
                                        img(src="/img/pgnfc.png")
                            //- TODO: Should be more?
                        .col-sm-4
                            h3 Contact Us
                            address
                                strong BC Association of Aboriginal Friendship Centers
                                br
                                | 551 Chatham St.
                                br
                                | Victoria
                                | BC, V8T 1E1
                                br
                                | Canada
                                br
                                | Phone: (250) 388-5522
                                br
                                | Toll-Free: 1 800 990-2432
                                br
                                | Fax: (250) 388-5502
                                br
                                | Email:
                                a(href="mailto:govcoordinator@bcaafc.com") govcoordinator@bcaafc.com
                        .col-sm-4
                            h3 Other Links
                            ul.list-unstyled
                                li
                                    a(href="/sponsors") Sponsors
                                li
                                    a(href="/faq") FAQ
                                li
                                    a(href="/privacy") Privacy Policy
                                li
                                    a(href="/conduct") Code of Conduct
                                li
                                    a(href="https://github.com/BCAAFC/Gathering-Our-Voices") Source Code
