{{> top}}


<div class="container marketing">
  <div class="row featurette">
    <div class="col-sm-7">
      <h2>Accommodations</h2>
      <ul>
        <li>
          <a href="http://www.coasthotels.com/hotels/bc/prince_george/coast-inn-of-the-north/rooms/" class="lead">Coast Inn of the North</a>
          <br><b>Address:</b> 770 Brunswick St
          <br><b>Telephone:</b> 1-250-563-0121
          <br><b>Conference Rates:</b> N/A
          <br><b>Reservation Code:</b> N/A
        </li>
        <li>
          <a href="http://www.sandmansignature.ca/hotels/prince-george/" class="lead">Sandman Signature Hotels and Suites</a>
          <br><b>Address:</b> 2990 Recreation Place
          <br><b>Telephone:</b> 1-800-726-3626
          <br><b>Conference Rates:</b> 2 queen $139.00; king or family suite $154.00
          <br><b>Reservation Code:</b> #135889
        </li>
        <li>
          <a href="http://www.econolodge.com/hotel-prince_george-canada-CNA31" class="lead">Econo Lodge City Centre</a>
          <br><b>Address:</b> 910 Victoria St
          <br><b>Telephone:</b> 250-563-1267
          <br><b>Conference Rates:</b> Twin doubles $89.00; Family suite (2brdm. Foldout couch) $129.00
          <br><b>Reservation Code:</b> N/A
        </li>
        <li>
          <a href="http://carmelinn.ca/" class="lead">Carmel Inn</a>
          <br><b>Address:</b>1502 British Columbia 97
          <br><b>Telephone:</b>1-250-564-6339
          <br><b>Conference Rates:</b>Two doubles $89.00; Queen $75.00
          <br><b>Reservation Code:</b>2015 AYC
        </li>
        <li>
          <a href="http://ramadaprincegeorge.com/" class="lead">Ramada Prince George</a>
          <br><b>Address:</b>444 George St
          <br><b>Telephone:</b>1-250-563-0055
          <br><b>Conference Rates:</b>N/A
          <br><b>Reservation Code:</b>N/A
        </li>
        <li>
          <a href="" class="lead">Sandman Hotel & Suites Prince George</a>
        </li>
      </ul>
    </div> <!-- col-sm-7 -->
    <div class="col-sm-5 text-center">
      <iframe src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.k89JLyptpBaI" width="100%" height="480" class="img-rounded"></iframe>
    </div> <!-- col-sm-5 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider"/>

</div>

{{> bottom}}
