{{> top}}

<div class="container">
  <div class="row">
    <div class="col-sm-12 text-center">
      <p class="lead timer"><!-- Timer goes here --></p>
    </div> <!-- col-sm-12 -->
  </div> <!-- Row -->

  <div class="row">
    <div class="col-sm-3" style="text-align: center;">
      <img class="img-rounded" src="/img/index/register.jpg" style="height: 150px;">
      <h4>Group Registration</h4>
      <p>Come share your spirit with us in Prince George by registering today. Register 5 delegates and the 6th is free!</p>
      <br>
      <div class="btn-group">
        <a class="btn btn-primary" href="/register">Register</a>
        <a class="btn btn-primary btn-disabled" target="_blank" href="">Get Package</a>
      </div> <!-- btn-group -->
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3" style="text-align: center;">
      <img class="img-rounded" src="/img/index/volunteer.jpg" style="height: 150px;">
      <h4>Volunteer or Exhibit</h4>
      <p>Interested in making this year a success? Please join us by volunteering! Or, become an exhibitor for your organization!<p>
      <div class="btn-group">
        <a class="btn btn-primary btn-disabled" target="_blank", href="">Volunteer</a>
        <a class="btn btn-primary btn-disabled" target="_blank", href="">Exhibit</a>
      </div> <!-- btn-group -->
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3" style="text-align: center;">
      <img class="img-rounded" src="/img/index/workshop_reg.jpg" style="height: 150px;">
      <h4>Explore Workshops</h4>
      <p>Curious what you can learn at GOV? Take a look at our diverse range of facilitators and workshops, or sign up to facilitate one!</p>
      <div class="btn-group">
        <a class="btn btn-primary" href="/workshops">Workshops</a>
        <a class="btn btn-primary btn-disabled" target="_blank", href="">Facilitate</a>
      </div> <!-- btn-group -->
    </div> <!-- col-sm-3 -->

    <div class="col-sm-3" style="text-align: center;">
      <img class="img-rounded" src="/img/index/register.jpg" style="height: 150px;">
      <h4>Get Connectedn</h4>
      <p>Join us on Twitter or Facebook. Interact with the team, ask questions, or just keep up to date!</p>
      <br>
      <div class="btn-group">
        <a class="btn btn-primary" target="_blank", href="https://twitter.com/GOV_Conference">
          <i class="fa fa-twitter"></i>
          Twitter
        </a>
        <a class="btn btn-primary" target="_blank", href="https://www.facebook.com/gatheringourvoices">
          <i class="fa fa-facebook"></i>
          Facebook
        </a>
      </div> <!-- btn-group -->
    </div> <!-- col-sm-3 -->

  </div> <!-- Row -->
  <br>
  <br>
  <div class="row text-center">
    <a class="btn btn-info" target="_blank" href="http://bcaafc.us5.list-manage.com/subscribe?u=2df229be67a6e024a5c741916&id=f98ad81590">
      <i class="fa fa-envelope"></i>
      Sign up for our distribution list!
    </a>
  </div> <!-- row text-center -->
</div> <!-- Container -->

<div class="container">

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-sm-7">
      <h2 class="featurette-heading">Participate <span class="text-muted">in the action</span></h2>
      <p>Get involved in interactive workshops and exciting shows with others from the community. You will have the opportunity to engage with your colleagues, mentors, and elders in a way that's meaningful.</p>
      <p>Looking to get more from GOV? You can take part in one of our challenges and win a prize, join our talent showcase and prove your salt, or nominate an Aboriginal Youth Champion who's made a difference in your community.</p>
      <div class="text-center">
        <div class="btn-group">
          <a class="btn btn-default btn-disabled" target="_blank" href="">Honour a Youth</a>
          <a class="btn btn-default btn-disabled" target="_blank" href="">Talent Showcase</a>
        </div> <!-- btn-group -->
      </div> <!-- text-center -->
    </div> <!-- col-sm-7 -->
    <div class="col-sm-5 text-center">
      <img class="img-rounded" src="/img/index/participate.jpg" style="max-width: 100%;">
    </div> <!-- col-sm-5 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-sm-5 text-center">
      <img class="img-rounded" src="/img/index/learn.jpg" style="max-width: 100%;">
    </div> <!-- col-sm-5 -->
    <div class="col-sm-7">
      <h2 class="featurette-heading">Learn <span class="text-muted">from valuable mentors</span></h2>
      <p>Explore a diverse selection of workshops that will teach you interesting talents (like Cedar Weaving), enhance your existing skills (like sports), make you more conscious of the world around you, or present mind-changing ideas.</p>
      <p>With a selection of over 60 workshops split into a total of 12 different sections you will be able to choose your own unique GOV experience for your own needs. The full workshop schedule has been released! Please check out this page for the listing. Note that in order to sign up for workshops each delegate will need their full personal information complete, you can verify this on your account page. We hope you find something that stirs your interest and peaks your excitement!</p>
      <a class="btn btn-default btn-block" target="_blank" href="/workshops">Explore Workshops</a>
    </div> <!-- col-sm-7 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-sm-7">
      <h2 class="featurette-heading">Listen <span class="text-muted">to inspiring leaders and peers</span></h2>
      <p>We're working our tails off to find you the best and brightest from our communities to motivate your dreams, uplift your spirit, and help you make a better tomorrow. But you won't just learn from speakers, elders, or workshop facilitators, you'll also learn from your peers and other delegates to the conference as well, just as they learn from you. We all carry a story, how will you share yours?</p>
      <p>In 2013 we hosted the likes of J.R. LaRose, Evan Adams, Grand Chief Stewart Phillip, and Linsay Willier. In 2014, we hosted TeamBC, (TODO), (TODO). The schedule hasn't been confirmed for this year yet, so please stay tuned!</p>
    </div> <!-- col-sm-7 -->
    <div class="col-sm-5 text-center">
      <img class="img-rounded" src="/img/index/listen.jpg" style="max-width: 100%;">
    </div> <!-- col-sm-5 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider">

  <div class="row featurette">
    <div class="col-sm-5 text-center">
      <img class="img-rounded" src="/img/index/connect.jpg" style="max-width: 100%;">
    </div> <!-- col-sm-5 -->
    <div class="col-sm-7">
      <h2 class="featurette-heading">Connect <span class="text-muted">and prepare for the future</span></h2>
      <p>A gathering of this size means an incredible opportunity to find new peers, employers, educators, teachers, elders, and most of all, friends. A bustling career and education fair, an elders lounge, and more will be ready for you to explore.</p>
      <p>Then, return to your community with newfound skills, a broader world view, and new friends to keep in touch with.</p>
    </div> <!-- col-sm-7 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider">
</div> <!-- container -->
<script>
  // Closure!
  (function() {
    'use strict';
    // This code is ugly and hackish, I'm sorry. :(
    var gov_time = new Date(2015, 2, 18, 18, 0, 0), // March 18, 2015, 6:00pm
      time_in_second = 1000,
      time_in_minute = (time_in_second * 60),
      time_in_hour = (time_in_minute * 60),
      time_in_day = (time_in_hour * 24);

    if (new Date() < gov_time) {
      var countdown = function countdown() {
        // num_of_ms is our "remaining balance", we'll subtract from it.
        var num_of_ms = Date.parse(gov_time) - Date.parse(new Date()),
          // We need ~whole~ numbers for this. So we'll take the floor. This is the number of whole days.
          num_of_days = Math.floor(num_of_ms / time_in_day),
          num_of_hours = undefined,
          num_of_minutes = undefined,
          num_of_seconds = undefined;

        num_of_ms -= num_of_days * time_in_day;
        // Find number of hours.
        num_of_hours = Math.floor(num_of_ms / time_in_hour); // Must be under 24.
        num_of_ms -= num_of_hours * time_in_hour;
        // Find number of minutes.
        num_of_minutes = Math.floor(num_of_ms / time_in_minute); // Must be under 60.
        num_of_ms -= num_of_minutes * time_in_minute;
        // Find the number of seconds.
        num_of_seconds = Math.floor(num_of_ms / time_in_second); // Must be under 60.
        // We don't care about the remaining num_of_ms.

        // Format the string.
        $('.timer').html(
            num_of_days + " Days " +
            ((num_of_hours <= 9) ? '0' + num_of_hours : num_of_hours) + ":" +
            ((num_of_minutes <= 9) ? '0' + num_of_minutes : num_of_minutes) + ":" +
            ((num_of_seconds <= 9) ? '0' + num_of_seconds : num_of_seconds) +
            " Until GOV 2015!"
          );
          setTimeout(countdown, 3000);
        };
        countdown();
    } else {
      $('.timer').html("GOV 2015 has begun!");
    }
  })();
</script>

{{> bottom}}
