{{> top}}

<div class="container marketing">
  <div class="row featurette">
    <div class="col-sm-7">
      <h2 class="featurette-heading">The City of Prince George</h2>
      <ul>
        <li><a href="http://princegeorge.ca/Pages/default.aspx">City of Prince George</a>
        </li>
        <li><a href="http://www.pgnfc.com/">Prince George Native Friendship Centre Society</a>
          <br>1-250-564-3568
        </li>
        <li><a href="http://tourismpg.com/">Tourism Prince George</a>
          <br>1-250-562-3700
        </li>
        <li><a href="http://www.pgairport.ca/">Prince George Airport (YXS)</a>
          <br>250-963-2400
        </li>
        <li><a href="http://www.drivebc.ca/#mapView&amp;z=7&amp;ll=54.188155481071504,-122.16796875000001">Drive BC (Road Conditions)</a><br/>1-800-550-4997</li>
        <li>Nechako Medical Clinic Ltd<br/>1-250-563-3399</li>
        <li><a href="http://www.northernhealth.ca/OurServices/Facilities.aspx?FacilityID=53">University Hospital of Northern BC</a><br/>1-250-565-2000</li>
      </ul>
    </div>
    <div style="text-align: center" class="col-sm-5">
      <iframe src="https://mapsengine.google.com/map/embed?mid=zgOn5am8hxSg.k89JLyptpBaI" width="100%" height="480" class="img-rounded"></iframe>
    </div>
  </div> <!-- row featurette -->

  <hr class="featurette-divider"/>

  <div class="row featurette">
    <div style="text-align: center" class="col-sm-5"><img src="/img/venues/hyatt.jpg" class="img-rounded"/></div>
    <div class="col-sm-7">
      <h2 class="featurette-heading">Hyatt Regency Hotel<span class="text-muted">Vancouver</span></h2>
      <p class="lead">655 Burrard Street, Vancouver, B.C.<a target="_blank" href="http://goo.gl/maps/waHYK"> -- Map</a></p>
      <p>Tel: 1-888-421-1442</p>
      <p>Rates: Single/Double $189.00, Triple $224, Quad $259<br/><span class="text-muted">(Available until February 15)</span></p>
      <p>Amenities: 24hr Fitness Gym, Outdoor Heated Pool, Whirlpool, Restaurants</p>
      <p>Reservation Code: Aboriginal Youth Conference</p><br/><a target="_blank" href="https://resweb.passkey.com/go/gov2014">Book at Conference Rate</a><br/><a target="_blank" href="http://vancouver.hyatt.com/en/hotel/home.html">Website</a><br/><br/>
      <p>Directions from Vancouver International Airport (14 miles):</p>
      <ul>
        <li>Take McConachie Way over Arthur Laing Bridge.</li>
        <li>Exit at Granville St. Proceed north 50 blocks.</li>
        <li>Turn left at 16th St. Go past two stop lights.</li>
        <li>Turn right at Burrard St. Cross Burrard St. Bridge through Georgia St. (10 blks).</li>
        <li>Hyatt Regency Hotel is on left.</li>
      </ul>
    </div>
  </div> <!-- row featurette -->

  <hr class="featurette-divider"/>

  <div class="row featurette">
    <div class="col-sm-7">
      <h2 class="featurette-heading">Orpheum Theatre<span class="text-muted"> Vancouver</span></h2>
      <p class="lead">601 Smithe St, Vancouver, BC<a target="_blank" href="http://goo.gl/maps/sGOzX"> -- Map</a></p>
      <p>The location of the Opening Ceremonies, March 18th - Doors Open at 5:00 pm</p>
      <p>The location of the Talent Showcase March 19th - Doors Open at 7:00 pm</p>
    </div> <!-- col-sm-7 -->
    <div class="col-sm-5 text-center">
      <img style="max-width: 100%" src="/img/venues/orpheum.jpg" class="img-rounded">
    </div> <!-- col-sm-5 -->
  </div> <!-- row featurette -->

  <hr class="featurette-divider"/>
</div> <!-- container marketing -->

{{> bottom}}
